//- index.jade
extends ./layout.jade

block title
  title Homepage head title

block content
  section.section
    div.container
      div.row
        div.column
          h1 Homepage title
          section.section
            div.container
              div.row
                nav
                  a(href='/') Home page
                  a(href='/about') About page
                  a(href='/imgmanip') Image manipulation
                  a(href='/uploads') Upload image 
